node_modules
*/node_modules
*/packages
*/AplicacionPilot
*/ServiciosWeb.Datos
*/*/packages.config
*/*/.vs
*/*/App_Data
*/*/App_Start
*/*/Areas
*/*/bin
*/*/Content
*/*/fonts
*/*/Models
*/*/obj
*/*/Properties
*/*/Providers
*/*/Results
*/*/Scripts
*/*/Views/Shared
*/*/Views/_ViewStart.cshtml
*/*/Views/Web.config
*/*/ApplicationInsights.config
*/*/favicon.ico
*/*/Global.asax.cs
*/*/Global.asax
*/*/packages.config
*/*/Servicio_Prueba.csproj
*/*/Servicio_Prueba.csproj.user
*/*/Startup.cs
*/*/Web.config
*/*/Web.Debug.config
*/*/Web.Release.config


*/*/App.config
*/*/Program.cs
*/*/WindowsFormsApplication1.csproj